.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
*.rds
*.svg
velocity_embedding.png
velocity_expression.png
*.Rproj
dev/
euler/
figures/
convert_function_to_method.R
Rprof.out
convert_cyclone_pairs_to_symbol.R
chevreul_0.5.0.tar.gz
.Rprofile
.DS_Store
.Renviron
.dockerignore
.here
.travis.yml
Dockerfile
README_cache
codecov.yml
rsconnect
/doc/
/Meta/
docs
